<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css" />
    <title>About</title>
</head>
<body tabindex="-1">

    <!--Navbar-->
    <%- include('partials/navbar', {page: '/about'}) %>
    <!--Navbar-->

    <!--Container-->
    <div class="container mx-auto p-4">

      <!--About text-->
      <div class="hero bg-base-200 rounded-lg p-6">
        <div class="hero-content text-center ">
          <div class="max-w-md">
            <h1 class="text-5xl font-bold">About</h1>
            <p class="py-6">Everything you want to know about me - developer</p>
            
          </div>
        </div>
      </div>
      <!--About text-->

      <br>

      <!--Responsive grid system (2 columns)-->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
        <!--Column 1 (image)-->
        <div>
          <img class="w-full rounded-lg" src="https://media.timeout.com/images/105385557/image.jpg" alt="profile" width="500" height="500">
        </div>
        <!--Column 1 (image)-->
        
        <!--Column 2 (short blurb)-->
        <div class="prose">
          <h2 class="text-xl font-bold mb-2">About Me</h2>
          <p> My name is NGA TSZ SZE (Yanice) and I'm currently studying at Seneca Polytechnic.</p>
          <p> 
            I come from Hong Kong. The photo on the left is my home country, which is so beautiful. I'm
            currently in my 3rd semester. I'm really interested in front-end, and designing website become 
            my new hobby. I'm looking forward to get a job as software developer after graduation.
          </p>
        </div>
        <!--Column 2 (short blurb)-->
      </div>
      <!--Responsive grid system (2 columns)-->
      
    </div>
    <!--Container-->
</body>

